* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(34, 39, 56);
}

header {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgb(32, 34, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
    font-size: large;
}

.nav {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    color: white;
    font-size: large;
}

.nav>li {
    margin: 15px 40px;
}

.nav>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding: 5px 15px;
    border-radius: 16px;
    transition: 0.5s;
}

/* PLANO DE FUNDO */
.planoDeFundo {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    overflow: hidden;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 1º BANNER - PERFIL*/
.bannerQuemSouEu {
    height: 100%;
    width: 90%;
    padding: 2% 0;
    margin: 7% 0 1.5% 0;
    background-color: rgb(34, 39, 56);
    border: 10px solid rgb(34, 39, 56);
    border-radius: 32px;
    box-shadow: 10px 10px 40px black;
    display: flex;
    justify-content: space-around;

}

#apreInicial {
    font-family: sans-serif;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50px;
    line-height: 30px;
    padding: 0 0 0 5%;
    margin: 7% 0 0 0;
}

.meuNome {
    font-size: 50px;
    font-weight: bold;
    color: rgb(56, 215, 255);
}

.dev {
    font-size: 20px;
    font-weight: bold;
    color: rgba(56, 215, 255);
}

.fotoCaioExtra {
    display: none;
}

.fotoCaio {
    width: 100%;
    transition: 1s;
}

.bannerQuemSouEu:hover .fotoCaio {
    filter: drop-shadow(10px 2px 20px rgba(156, 156, 156, 0.295));
    transition: 1s;
}

#experTela {
    color: rgb(32, 34, 38);
    display: flex;
    align-self: flex-end;
}

/*  2º BANNER - CURSOS*/
.bannerXp {
    height: 100%;
    width: 90%;
    padding: 2% 0;
    margin: 1.5% 0;
    background-color: rgb(34, 39, 56);
    border: 10px solid rgb(34, 39, 56);
    border-radius: 32px;
    box-shadow: 10px 10px 40px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.titulo {
    color: white;
    font-size: 200%;
}

.containerXp {
    width: 80%;
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
    gap: 15%;
}

.nivel {
    width: 100%;
    height: 40%;
    font-size: 30px;
}

.barraDeRolagem {
    margin-bottom: 10%;
    position: relative;
    width: 100%;
    height: 4px;
    background-color: rgba(112, 112, 112, 0.76);
}

.barraDeRolagem::before {
    content: '';
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    transition: 3s;
}

.bannerXp:hover #html::before {
    width: 98%;
    transition: 2s;
}

.bannerXp:hover #css::before {
    width: 93%;
    transition: 2s;
}

.bannerXp:hover #javascript::before {
    width: 78%;
    transition: 2s;
}

.bannerXp:hover #github::before {
    width: 87%;
    transition: 2s;
}

.bannerXp:hover #typescript::before {
    width: 5%;
    transition: 2s;
}

.bannerXp:hover #react::before {
    width: 5%;
    transition: 2s;
}

.cursos {
    width: 100%;
    height: 40%;
    font-size: 150%;
    display: flex;
    flex-direction: column;
}

#titleCurso {
    align-self: center;
}

.cursos>h5 {
    padding: 5% 0 0 0;

}

#portfolTela {
    color: rgb(34, 39, 56);
}

/*  3º BANNER - PORTFOLIOS*/

.bannerPrototipos {
    height: 100%;
    width: 90%;
    padding: 2% 0;
    margin: 1.5% 0;
    background-color: rgb(34, 39, 56);
    border: 10px solid rgb(34, 39, 56);
    border-radius: 32px;
    box-shadow: 10px 10px 40px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardes {
    display: flex;
    justify-content: center;
    padding: 3% 0;
}

.card {
    padding: 0;
    margin: 0;
}

.card>a,
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover .acesso,
.card:hover .container {
    border: 0px solid rgb(34, 39, 56);
    border-radius: 32px;
}

.container>h4 {
    font-size: 150%;
}

.container {
    width: 50%;
    position: relative;
    bottom: 90px;
    padding: 4% 5%;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(34, 39, 56, 0);
    border: 0px solid rgba(34, 39, 56, 0);
    border-radius: 32px;
    transition: 1s;
}

.card:hover .container {
    width: 50%;
    position: relative;
    bottom: 105px;
    padding: 4% 5%;
    color: white;
    background-color: rgba(34, 39, 56, 0.699);
    border: 0px solid rgb(34, 39, 56);
    border-radius: 32px;
    transition: 1s;
}

.cardImg {
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 32px;
}

.card:hover .cardImg {
    width: 60%;
    border: 1px solid rgba(31, 72, 83, 0);
    border-radius: 32px;
    box-shadow: 0 10px 100px rgba(230, 230, 230, 0.388);
    transition: 1s;
}

/* RODA PÉ */
footer {
    background-color: rgb(34, 33, 33);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5% 0;
}

.footerLinks {
    display: flex;
    justify-content: space-evenly;
}

#ico {
    color: white;

}

#ico:hover {
    color: rgb(179, 179, 179);
}

@media screen and (max-width:1000px) and (min-width:1px) {

    .nav>li {
        margin: 10px 20px;
    }

    .nav>li>h1 {
        font-size: 150%;
    }

    .nav>li>a {
        display: none;
    }

    /* 1º BANNER - PERFIL*/

    .fotoCaioExtra {
        display: block;
        width: 100%;
        filter: drop-shadow(10px 2px 20px rgb(10, 10, 40));
    }

    .fotoCaio {
        display: none;
    }

    /* 2º BANNER - CURSOS*/
    .containerXp {
        display: flex;
        flex-direction: column;
    }

    .nivel {
        padding: 7% 0;
    }

    .bannerXp #html::before {
        width: 98%;
        transition: 2s;
    }

    .bannerXp #css::before {
        width: 93%;
        transition: 2s;
    }

    .bannerXp #javascript::before {
        width: 78%;
        transition: 2s;
    }

    .bannerXp #github::before {
        width: 87%;
        transition: 2s;
    }

    .bannerXp #typescript::before {
        width: 5%;
        transition: 2s;
    }

    .bannerXp #react::before {
        width: 5%;
        transition: 2s;
    }

    .cursos {
        padding: 0 0 7% 0;
    }

    /*  3º BANNER - PORTFOLIOS*/

    .bannerPrototipos {
        margin: 1.5% 0 5% 0;
    }

    .cardes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3% 0;
    }

    .card {
        padding: 10% 0;
        margin: 0;
    }

    .container {
        width: 50%;
        position: relative;
        bottom: 1px;
        padding: 4% 5%;
        color: white;
        background-color: rgba(60, 61, 61, 0.651);
        border: 0px solid rgb(34, 39, 56);
        border-radius: 0 0 32px 32px;
        transition: 1s;
        box-shadow: 10px 10px 40px black;
    }

    .card:hover .container {
        width: 50%;
        position: relative;
        bottom: 1px;
        padding: 4% 5%;
        color: white;
        background-color: rgba(34, 39, 56, 0.699);
        border: 0px solid rgb(34, 39, 56);
        border-radius: 0 0 32px 32px;
        transition: 1s;
    }

    .cardImg {
        width: 60%;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 32px 32px 0 0;
        box-shadow: 10px 10px 40px black;
    }

    .card:hover .cardImg {
        width: 60%;
        border: 1px solid rgba(31, 72, 83, 0);
        border-radius: 32px 32px 0 0;
        box-shadow: 0 10px 100px rgba(230, 230, 230, 0.388);
        transition: 1s;
    }

}